/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    margin-bottom: 20px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #FFFCF2;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #008833 transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #008833 transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #008833;
    padding: 8px 16px;
    border: 1px solid transparent;
    /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
    border-color: #008833;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .select-items div {
    border: none;
    color: black;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #FFFCF2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .select-items div:nth-child(1n+0) {
    border-left: 1px solid #008833;
    border-right: 1px solid #008833;
  }

  .select-items div:last-child {
    border-bottom: 1px solid #008833;
  }